<h3>The Venus Project</h3>
<%= image_tag "con_address.png" %>
<p>21 Valley Lane<br />	
Venus	<br />
Florida	<br />
33960	<br />
USA	</p>
<%= image_tag "con_tel.png" %>
<p>+1 863 465 0321	</p>

<a href="http://www.thevenusproject.com" target="_blank">
http://www.thevenusproject.com</a>